*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
integration/fixtures/dummy/log
integration/fixtures/dummy/*.gem
integration/fixtures/dummy/*.rbc
integration/fixtures/dummy/db/development.sqlite3
integration/fixtures/dummy/.bundle
integration/fixtures/dummy/.config
integration/fixtures/dummy/.yardoc
integration/fixtures/dummy/InstalledFiles
integration/fixtures/dummy/_yardoc
integration/fixtures/dummy/coverage
integration/fixtures/dummy/doc/
integration/fixtures/dummy/lib/bundler/man
integration/fixtures/dummy/pkg
integration/fixtures/dummy/rdoc
integration/fixtures/dummy/spec/reports
integration/fixtures/dummy/test/tmp
integration/fixtures/dummy/test/version_tmp
integration/fixtures/dummy/tmp
